<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tournament Bracket</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tournament.css' %}">
</head>
<body>

    <!-- Logout Button -->
    <div class="logout-box">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="button">Logout</button>
        </form>
    </div>

    <div class="tournament-name">
        <h1>{{ tournament.name }} Bracket</h1>

    </div>

    <div class="bracket-box">
        <!-- Get and display each duel in the tournament -->
        {% for duel in duels %} 
            <div class="duel">
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="duel_id" value="{{ duel.id }}">

                    <div class="competitor-box">

                        <!-- If a duel has a winner, disable the buttons and highlight the winner -->
                        {% if duel.winner %}
                            <button class="button {% if duel.winner == duel.phone_1 %}winner{% else %}loser{% endif %}" disabled>
                                {{ duel.phone_1 }}
                            </button>
                            
                            <button class="button {% if duel.winner == duel.phone_2 %}winner{% else %}loser{% endif %}" disabled>
                                {{ duel.phone_2|default:"Waiting for opponent" }}
                            </button>

                        {% else %}
                            <button type="submit" class="button" name="winner" value="{{ duel.phone_1 }}" required>
                            <span>{{ duel.phone_1 }}</span>
            
                            <button type="submit" class="button" name="winner" value="{{ duel.phone_2 }}" required>
                            <span>{{ duel.phone_2|default:"Waiting for opponent" }}</span>
                        {% endif %}
                    </div>
                </form>
            </div>
        {% endfor %}
    </div>

    <div class="back-box">
        <a href="{% url 'home' %}" class="button">Back to Home</a>

</body>
</html>
